<!DOCTYPE html>
<html>
    <head>
        <title>⛺HappyCamper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div  id="landing-header">
        <h2>Welcome to</h2>
         <h1> HappyCamper!</h1>
        <br>
		<a href="/campgrounds" class="btn btn-lg btn-success">🚀 View All Campgrounds</a>  <a href="/login " class="btn btn-lg btn-danger">Login</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </body>
</html>
